body {
  font-family: Karla, sans-serif;
}

.font-rubik {
  font-family: Rubik, sans-serif;
}

.app-name {
  font-family: "Just Another Hand", cursive;
  font-size: 2.6rem;
  letter-spacing: 0.1rem;
}

.page-height {
  min-height: calc(100vh - 5rem);
}

.auth-form-button {
  width: 7rem;
}

.nav-link:hover {
  background-color: #e8e8e8;
}
